* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #94a1a6;
    background-color: #1b1b1b;
}

table td {
    font-size: 16px;
}

a {
    color: #3e64dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(226, 226, 226, 0.7);
    background-color: rgb(76 57 57 / 20%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
        color: #FFFFFF;
        background-color: rgba(7, 7, 7, 0.38);
    }

    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.SRRoot {
    float: right;
    margin-left: 10px;
}

@media screen and (max-width: 64em) and (min-width: 42em) {
    .SRRoot {
        float: inherit;
        margin: 0 0 10px;
    }
}

.SystemRequirements {
    padding-right: 10px;
    padding-bottom: 10px;
    display: inline-block;
    color: #000000;
    border: 1px solid #898989;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.SystemRequirements p {
    text-align: center;
    padding: 8px;
    margin-bottom: 0 !important;
}

.SystemRequirements ul {
    list-style-type: none;
    font-size: 12px;
    padding-top: 0;
    padding-left: 15px;

}

.SystemRequirements ul li b {
    color: #4f7ece;
}

@media screen and (max-width: 42em) {
    .SRRoot {
        margin: 0;
        float: inherit;
    }

    .SystemRequirements {
        min-width: 100%;
    }
}

.page-header {
    color: #929292;
    text-align: center;
    /* W3C */
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(75% 73% at 68% 7%, #000000FF 1%, #00000038 67%, #00FFFF00 100%),radial-gradient(75% 73% at 6% 14%, #0000FF 0%, #00FFFF00 100%),radial-gradient(75% 75% at 16% 91%, #29A8DF 1%, #00FFFF00 100%),radial-gradient(100% 130% at 100% 59%, #FF00FFFF 0%, #FF00FFFF 22%, #0000FF 100%);
}

@-webkit-keyframes page-header {
    0% {
        background-position: 2% 0%
    }
    50% {
        background-position: 99% 100%
    }
    100% {
        background-position: 2% 0%
    }
}

@-moz-keyframes page-header {
    0% {
        background-position: 2% 0%
    }
    50% {
        background-position: 99% 100%
    }
    100% {
        background-position: 2% 0%
    }
}

@-o-keyframes page-header {
    0% {
        background-position: 2% 0%
    }
    50% {
        background-position: 99% 100%
    }
    100% {
        background-position: 2% 0%
    }
}

@keyframes page-header {
    0% {
        background-position: 2% 0%
    }
    50% {
        background-position: 99% 100%
    }
    100% {
        background-position: 2% 0%
    }
}

@media only screen and (max-width: 42em) {
    .page-header {
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        color: #fff;
        text-align: center;
        background: url(../img/air_balloon_400.png), radial-gradient(75% 73% at 68% 7%, #000000FF 1%, #00000038 67%, #00FFFF00 100%),radial-gradient(75% 73% at 6% 14%, #0000FF 0%, #00FFFF00 100%),radial-gradient(75% 75% at 16% 91%, #29A8DF 1%, #00FFFF00 100%),radial-gradient(100% 130% at 100% 59%, #FF00FFFF 0%, #FF00FFFF 22%, #0000FF 100%);
        background-repeat: no-repeat;
        height: 400%;
    }

    .second-page-header {
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;

        background: none !important;
    }
}

.second-page-header {
    color: #fff;
    text-align: center;
    background: url("../img/air_balloon_400.png") no-repeat right;

    -webkit-animation: second-page-header 15s ease infinite;
    -moz-animation: second-page-header 15s ease infinite;
    -o-animation: second-page-header 15s ease infinite;
    animation: second-page-header 15s ease infinite;
}

@-webkit-keyframes second-page-header {
    0% {
        background-position: 100% 20%
    }
    50% {
        background-position: 95% 80%
    }
    100% {
        background-position: 100% 20%
    }
}

@-moz-keyframes second-page-header {
    0% {
        background-position: 100% 20%
    }
    50% {
        background-position: 95% 80%
    }
    100% {
        background-position: 100% 20%
    }
}

@-o-keyframes second-page-header {
    0% {
        background-position: 100% 20%
    }
    50% {
        background-position: 95% 80%
    }
    100% {
        background-position: 100% 20%
    }
}

@keyframes second-page-header {
    0% {
        background-position: 100% 20%
    }
    50% {
        background-position: 95% 80%
    }
    100% {
        background-position: 100% 20%
    }
}

@media screen and (min-width: 64em) {
    .second-page-header {
        padding: 5rem 6rem;
        /*background-position: center;*/
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {

        color: #fff;
        text-align: center;
        /* W3C */
        background-image: radial-gradient(75% 73% at 68% 7%, #000000FF 1%, #00000038 67%, #00FFFF00 100%),radial-gradient(75% 73% at 6% 14%, #0000FF 0%, #00FFFF00 100%),radial-gradient(75% 75% at 16% 91%, #29A8DF 1%, #00FFFF00 100%),radial-gradient(100% 130% at 100% 59%, #FF00FFFF 0%, #FF00FFFF 22%, #0000FF 100%);
    }

    .second-page-header {
        padding: 3rem 4rem;
        color: #fff;
        text-align: center;
        background: url("../img/air_balloon_400.png") no-repeat right;
        background-size: 40%;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
        background-position: center;

    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
        /*text-shadow: 0px 0px 12px rgba(117, 117, 117, 1);*/
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
        text-shadow: 0px 0px 12px rgba(117, 117, 117, 1);
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
        text-shadow: 0 0 12px rgb(0, 0, 0);
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.8;
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.2rem;
        opacity: 0.9;
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1.10rem;
        opacity: 1;
        background-color: rgba(7, 7, 7, 0.38);
    }
}

.main-content :first-child {
    margin-top: 0;
}

.main-content img {
    max-width: 100%;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #3e64dd;
}

.main-content p {
    margin-bottom: 1em;
}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    /*font-size: 0.9rem;*/
    color: #383e41;
    background-color: #9b9c9f;
    border-radius: 0.3rem;
}

.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #5a5c5d;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
}

.main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.main-content .highlight {
    margin-bottom: 1rem;
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
}

.main-content pre code, .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal;
}

.main-content ul, .main-content ol {
    margin-top: 0;
    padding-left: 20px;
}

.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
}

.main-content blockquote > :first-child {
    margin-top: 0;
}

.main-content blockquote > :last-child {
    margin-bottom: 0;
}

.main-content table {
    display: block;
    /*width: 100%;*/
    overflow: auto;
    word-break: keep-all;
}

.main-content table th {
    font-weight: bold;
}

.main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

.main-content dl {
    padding: 0;
}

.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem;
}

.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0;
}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}

.site-footer {
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}

.youtubeDefault iframe {
    width: 740px;
    height: 416px;
}

@media screen and (min-width: 64em) {
    .youtubeDefault iframe {
        width: 740px;
        height: 416px;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .youtubeDefault iframe {
        width: 560px;
        height: 315px;
    }
}

@media screen and (max-width: 42em) {
    .youtubeDefault iframe {
        width: 510px;
        height: 285px;
    }
}

@media screen and (max-width: 480px) {
    .youtubeDefault iframe {
        width: 300px;
        height: 168px;
    }
}

@media screen and (max-width: 320px) {
    .youtubeDefault iframe {
        width: 250px;
        height: 140px;
    }

    #browserList {
        font-size: 16px;
    }
}

.download_count_class {
    font-size: 10px;
}

.faq {
    font-weight: bold;
    padding-left: 40px;

}

.faq li {
    margin-bottom: 10px;
    /*margin-right: 10px;*/
}

.faq li img {
    padding-top: 5px;
    margin-left: -20px;
}

.notSelectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}


.forHosting {
    width: 100%;
    background: #285a9d;
    color: #fff;
    display: flow-root;
}

#forHostingExtended {
    display: none;
    padding: 10px;
}