@media screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .wrap {
        width: 90%;
        height: 90%;
    }

    .wrap img {
        width: 80px;
    }

    .main_info {
        margin-top: 0;
    }

    .main_info .mail {
        font-size: 14px;
    }

    .main_info .mail span {
        display: none
    }

    .main_info .telegram a {
        font-size: 14px;
    }

    .main_info .telegram span {
        display: none
    }

    #HR_ {
        margin-top: 100px;
    }
}

@media screen  and (min-device-width: 200px) and (max-device-width: 320px) {
    .wrap {
        margin: auto;
        width: 90%; /* Ширина визитки */
        height: 90%; /* Высота визитки */
    }

    .wrap img {
        width: 80%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none !important;
    }

    .main_info {
        margin-top: 10px;
    }

    .main_info span {
        font-size: 80px;
    }

    .main_info .mail, .main_info .telegram a {
        font-size: 60px;
    }

    a.button {
        font-size: 60px;
    }

    #HR_ {
        margin-top: 10px;
    }

    #qrcode {
        width: 256px !important;
    }

}